.login_icon {
	font-size: 32px;
}

.login_icon_container {
	display: flex;
	justify-content: space-around;
}

.login_icon_container span {
	font-size: 32px;
}

.login_icon_container .anticon-taobao {
	color: #ff5000;
}

.login_button {
	width: 100%;
}